main{
    width: 100%;
}
.boxes{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.firstline,
.secondline,
.thirdline{
    width: 30%;
}
.card1{
    background: url('../img/1.png') center / cover;
}
.card2{
    background: url('../img/9.jpg') center / cover;
}
.card3{
    background: url('../img/3.jpg') center / cover;
}
.card4{
    background: url('../img/10.jpg') center / cover;
}
.card5{
    background: url('../img/5.jpg') center / cover;
}
.card6{
    background: url('../img/6.jpg') center / cover;
}
.card7{
    background: url('../img/77.jpg') center / cover;
}
.card8{
    background: url('../img/8.jpg') center / cover;
}
.card9{
    background: url('../img/2.jpg') center / cover;
}
.card10{
    background: url('../img/4.jpg') center / cover;
}
.card11{
    background: url('../img/111.jpeg') center / cover;
}
.card12{
    background: url('../img/12.jpg') center / cover;
}

.card{
    width: 100%;
    height: 100%;
    transition: 3s;
}
.firstline .card,
.thirdline .card{
    height: 350px;
    margin-bottom: 20px;
}
.secondline .card{
    height: 325px;
    margin-bottom: 20px;
}

.boxes .card:hover{
    transform: scale(1.1);
}

.container2 .card2{
    background: #ecd8e9;
}


.gallery1{
    width: 80%;
    margin: auto;
}
.gallery1 a{
    margin-bottom: 20px;
}

.lp1{
    background: url('../img/3.jpg') center / cover;
    width: 100%;
    height: 200px;
}
.lp2{
    background: url('../img/5.jpg') center / cover;
    width: 100%;
    height: 200px;
}
.lp3{
    background: url('../img/9.jpg') center / cover;
    width: 100%;
    height: 200px;
}



.footer{
    background-color: #c9aac6;
    color: white;
    padding-top: 30px;
}
.footerCenter{
    width: 80%;
    margin: auto;
}
.footer ol{
    list-style: none;
    display: inline-flex;
}

.footer ul{
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}
.footer ul li{
    padding-bottom: 10px;
}
footer li a{
    text-decoration: none;
    color: white;
}
.footer h2{
    padding: 30px 0px;
    margin: 0px;
}

@media screen and (max-width:712px){
    .firstline .card,
    .thirdline .card{
        height: 250px;
    }
    .secondline .card{
        height: 220px;
    }
    .gallery1{
        width: 90%;
    }
}


@media screen and (max-width:488px){
    .firstline .card,
    .thirdline .card{
        height: 200px;
    }
    .secondline .card{
        height: 180px;
    }
}
@media screen and (max-width:458px){
    footer li a{
        font-size: 15px;
    }
}

@media screen and (max-width:426px){
    .firstline .card,
    .thirdline .card{
        height: 150px;
    }
    .secondline .card{
        height: 120px;
    }
}